/***************************************************************************
 *                                                                         *
 *          C  W I N D O W S   N T   R E S O U R C E   F I L E              *
 *                                                                         *
 *   (c) Copyright 1994,1996  Andersen Consulting.  All Rights Reserved.   *
 *                                                                         *
 ***************************************************************************
 *                                                                         *
 *                    Resource file for: DZLM01                            *
 *                         Generated on: Tue Oct 29 09:37:55 1996          *
 *                                   by: IPEREZAR                          *
 *                    Short Description:                                   *
 *                                                                         *
 ***************************************************************************/
#include <windows.h>
#include <kwdxk010.h>

/***************************************************************************
 * Window Identifier File                                                  * 
 ***************************************************************************/
#include "DZLM01.gnz"


/***************************************************************************
 * Window Resource Files                                                   * 
 ***************************************************************************/
rcinclude c1cptrs.rch

rcinclude dzlm001.dlg

