/***************************************************************************
 *                                                                         *
 *          C  W I N D O W S   N T   R E S O U R C E   F I L E              *
 *                                                                         *
 *   (c) Copyright 1994,1996  Andersen Consulting.  All Rights Reserved.   *
 *                                                                         *
 ***************************************************************************
 *                                                                         *
 *                    Resource file for: DZSM01                            *
 *                         Generated on: Fri Jul 31 15:39:21 1998          *
 *                                   by: MCONNER                           *
 *                    Short Description:                                   *
 *                                                                         *
 ***************************************************************************/
#include <windows.h>
#include <kwdxk010.h>

/***************************************************************************
 * Window Identifier File                                                  * 
 ***************************************************************************/
#include "DZSM01.gnz"


/***************************************************************************
 * Window Resource Files                                                   * 
 ***************************************************************************/
rcinclude c1cptrs.rch

rcinclude dzsm001.dlg

