/***************************************************************************
*                                                                          *
*                       R E S O U R C E   F I L E                          *
*                                                                          *
*             Copyright (C) 1989, 1990, Andersen Consulting.               *
*                          All rights reserved.                            *
*                                                                          *
****************************************************************************
*                                                                          *
*                     Resource file for: AZCD01                            *
*                          Generated on: Jul 15, 1992                      *
*                                    at: 15:37:26                          *
*                                    by: LMISFELD                            *
*                                                                          *
***************************************************************************/
#include <os2.h>
#include <widgrc.h>

/***************************************************************************
* Window Identifier File                                                   *
***************************************************************************/
#include  "azcd01.gnz"

/***************************************************************************
* Window Resource Files                                                    * 
***************************************************************************/
rcinclude azcd001x.dlg
rcinclude azcd002x.dlg
rcinclude azcd003x.dlg
rcinclude azcd004x.dlg

/***************************************************************************
* Iconic List Box Column Bitmap Resource Declarations                      *
***************************************************************************/

/***************************************************************************
* Static Bitmap Resource Declarations                                      *
***************************************************************************/

