/***************************************************************************
**  (c) Copyright 1995 Andersen Consulting - All Rights Reserved.         **
**  This work is protected by copyright law as an unpublished work.       **
****************************************************************************/
/***************************************************************************
 *                                                                         *
 *                C   O S / 2   R E S O U R C E   F I L E                  *
 *                                                                         *
 *                Copyright (C) 1992 Andersen Consulting.                  *
 *                         All rights reserved.                            *
 *                                                                         *
 ***************************************************************************
 *                                                                         *
 *                    Resource file for: AZDW01                            *
 *                         Generated on: Wed Nov  3 14:43:25 1993          *
 *                                   by: CCRAMPTO                          *
 *                                                                         *
 ***************************************************************************/
#include <os2.h>
#include <widgrc.h>

/***************************************************************************
 * Window Identifier File                                                  * 
 ***************************************************************************/
#include "AZDW01.gnz"

/***************************************************************************
 * Window Resource Files                                                   * 
 ***************************************************************************/
rcinclude azdw001.dlg
rcinclude azdw002.dlg
rcinclude azdw003.dlg
rcinclude azdw004.dlg
rcinclude azdw005.dlg
rcinclude azdw006.dlg

