/***************************************************************************
 *                                                                         *
 *          C   W I N D O W S   N T   R E S O U R C E   F I L E            *
 *                                                                         *
 *                Copyright (C) 1994 Andersen Consulting.                  *
 *                         All rights reserved.                            *
 *                                                                         *
 ***************************************************************************
 *                                                                         *
 *                    Resource file for: DZSM01                            *
 *                         Generated on: Mon Jan 16 14:01:47 1995          *
 *                                   by: ABURDEN                           *
 *                                                                         *
 ***************************************************************************/
#include <windows.h>
#include <kwdxk010.h>

/***************************************************************************
 * Window Identifier File                                                  * 
 ***************************************************************************/
#include "DZSM01.gnz"

#define FND_USER_RESOURCE_PATH  s:\bitmaps

/***************************************************************************
 * Window Resource Files                                                   * 
 ***************************************************************************/
rcinclude dzsm001.dlg

