/***************************************************************************
 *                                                                         *
 *          C  W I N D O W S   N T   R E S O U R C E   F I L E              *
 *                                                                         *
 *   (c) Copyright 1994,1996  Andersen Consulting.  All Rights Reserved.   *
 *                                                                         *
 ***************************************************************************
 *                                                                         *
 *                    Resource file for: DZIO01                            *
 *                         Generated on: Mon Dec 02 19:27:38 1996          *
 *                                   by: IPEREZAR                          *
 *                    Short Description:                                   *
 *                                                                         *
 ***************************************************************************/
#include <windows.h>
#include <kwdxk010.h>

/***************************************************************************
 * Window Identifier File                                                  * 
 ***************************************************************************/
#include "DZIO01.gnz"


/***************************************************************************
 * Window Resource Files
 * Vikas Jha: 13 May 2015: update rcinclude from  rcinclude n:\archinc\c1cptrs.rch to rcinclude c1cptrs.rch * 
 ***************************************************************************/

rcinclude c1cptrs.rch

rcinclude dzio001.dlg

rcinclude dzio002.dlg
rcinclude dzio005.dlg
rcinclude dzio007.dlg
rcinclude dzio008.dlg
rcinclude dzio009.dlg
rcinclude dzio012.dlg
rcinclude dzio013.dlg
rcinclude dzio014.dlg
*/
