/***************************************************************************
 *                                                                         *
 *          C   W I N D O W S   N T   R E S O U R C E   F I L E            *
 *                                                                         *
 *                Copyright (C) 1994 Andersen Consulting.                  *
 *                         All rights reserved.                            *
 *                                                                         *
 ***************************************************************************
 *                                                                         *
 *                    Resource file for: AZRP02                            *
 *                         Generated on: Fri Mar 29 09:26:24 1996          *
 *                                   by: MCONNER                           *
 *                                                                         *
 ***************************************************************************/
#include <windows.h>
#include <kwdxk010.h>

/***************************************************************************
 * Window Identifier File                                                  * 
 ***************************************************************************/
#include "AZRP02.gnz"


/***************************************************************************
 * Window Resource Files                                                   * 
 ***************************************************************************/
rcinclude n:\archinc\c1cptrs.rch

rcinclude azrp001.dlg
rcinclude azrp002.dlg
rcinclude azrp003.dlg

