/***************************************************************************
 *                                                                         *
 *          C  W I N D O W S   N T   R E S O U R C E   F I L E              *
 *                                                                         *
 *   (c) Copyright 1994,1996  Andersen Consulting.  All Rights Reserved.   *
 *                                                                         *
 ***************************************************************************
 *                                                                         *
 *                    Resource file for: AZRP02                            *
 *                         Generated on: Fri Jul 12 15:55:18 1996          *
 *                                   by: MCONNER                           *
 *                    Short Description:                                   *
 *                                                                         *
 ***************************************************************************/
#include <windows.h>
#include <kwdxk010.h>

/***************************************************************************
 * Window Identifier File                                                  * 
 ***************************************************************************/
#include "AZRP02.gnz"


/***************************************************************************
 * Window Resource Files                                                   * 
 * Vikas Jha 05/13/15: changed n:\archinc\c1ptrs.rch to c1ptrs.rch *
 ***************************************************************************/
rcinclude c1cptrs.rch

rcinclude azrp001.dlg
rcinclude azrp002.dlg
rcinclude azrp003.dlg

